@(Records : List[PeopleModel], Total : Int)
<script src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
<div>
    <div>
    <h1>New User Form</h1>
        <form action="/add" method="post">
            <input name="name" /><br />
            <input name="salary" /><br />
            <input name="department" /><br />
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <form action="/department" method="post">
            <select name="department" id="deptSelect">
                <option value="">choose department</option>
                @for(item <- Records.map(_.department).distinct) {
                    <option value="@item">@item</option>
                }
            </select>
        </form>
        <div id="deptAverage" style="display:none"></div>
    </div>
</div>
<br /><br /><div style="clear:both;"></div>
<table>
    <tr><td>Name</td><td>Salary</td><td>Department</td></tr>
    @for(item <- Records) {
        <tr><td>@item.name</td><td>@item.salary</td><td>@item.department</td></tr>
    }
    <tr><td>Total:</td><td>@Total</td><td>&nbsp;</td></tr>
</table>
<script>
$(document).ready(function(){
    $('#deptSelect').change(function(){
        submitDepartment(this.value);
    });
});

function submitDepartment(department) {
    $.post('/department', {department: department}, function(data){
        $('#deptAverage').text('Average salary in department: ' + data).show();
    });
}
</script>
