@(Records : List[PeopleModel], Total : Int)

    <h1>New User Form</h1>
<form action="/add" method="post">
    <input name="name" /><br />
    <input name="salary" /><br />
    <input name="department" /><br />
    <input type="submit" value="Submit">
</form>
<br /><br />
<table>
    <tr><td>Name</td><td>Salary</td><td>Department</td></tr>
    @for(item <- Records) {
        <tr><td>@item.name</td><td>@item.salary</td><td>@item.department</td></tr>
    }
    <tr><td>Total:</td><td>@Total</td><td>&nbsp;</td></tr>
</table>
